CLASE 3/codigo node-red.txt
[{"id":"2d9b1ef7.5304c2","type":"mqtt in","z":"3562a3b2.e7469c","name":"","topic":"temperatura","qos":"2","broker":"fe76bd0a.6d224","x":230,"y":100,"wires":[["f727afea.98779","98e18947.4e1b98","e1059fb3.0f968"]]},{"id":"198c83d5.9cc96c","type":"mqtt in","z":"3562a3b2.e7469c","name":"","topic":"humedad","qos":"2","broker":"5924904a.c0ff3","x":220,"y":160,"wires":[["f727afea.98779","7902c99b.fbbdc8","c98f45e7.778c08"]]},{"id":"f727afea.98779","type":"debug","z":"3562a3b2.e7469c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":20,"wires":[]},{"id":"98e18947.4e1b98","type":"ui_gauge","z":"3562a3b2.e7469c","name":"","group":"46c71330.c0377c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":60,"wires":[]},{"id":"e1059fb3.0f968","type":"ui_chart","z":"3562a3b2.e7469c","name":"","group":"46c71330.c0377c","order":2,"width":0,"height":0,"label":"TEMPERATURA HISTORICOS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":100,"wires":[[],[]]},{"id":"7902c99b.fbbdc8","type":"ui_chart","z":"3562a3b2.e7469c","name":"","group":"ba4584c7.848fe8","order":2,"width":0,"height":0,"label":"HUMEDAD HISTORICOS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":240,"wires":[[],[]]},{"id":"c98f45e7.778c08","type":"ui_gauge","z":"3562a3b2.e7469c","name":"","group":"ba4584c7.848fe8","order":1,"width":0,"height":0,"gtype":"gage","title":"HUMEDAD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":200,"wires":[]},{"id":"a9e0b0cc.86c1a","type":"mqtt out","z":"3562a3b2.e7469c","name":"","topic":"servo","qos":"","retain":"","broker":"5924904a.c0ff3","x":640,"y":380,"wires":[]},{"id":"b8faf1de.21d1d","type":"inject","z":"3562a3b2.e7469c","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":380,"wires":[["a9e0b0cc.86c1a"]]},{"id":"38ebfb9.71ba204","type":"ui_slider","z":"3562a3b2.e7469c","name":"","label":"SERVO","group":"46c71330.c0377c","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":520,"y":300,"wires":[["a9e0b0cc.86c1a","941e4107.5b574"]]},{"id":"941e4107.5b574","type":"ui_text","z":"3562a3b2.e7469c","group":"46c71330.c0377c","order":0,"width":0,"height":0,"name":"","label":"grados","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":340,"wires":[]},{"id":"d57b1e81.b31cd","type":"ui_switch","z":"3562a3b2.e7469c","name":"","label":"Rele","group":"46c71330.c0377c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"str","onicon":"","oncolor":"","offvalue":false,"offvalueType":"str","officon":"","offcolor":"","x":390,"y":460,"wires":[["2f5a5fda.d59b7"]]},{"id":"2f5a5fda.d59b7","type":"mqtt out","z":"3562a3b2.e7469c","name":"","topic":"rele","qos":"","retain":"","broker":"5924904a.c0ff3","x":630,"y":480,"wires":[]},{"id":"fe76bd0a.6d224","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5924904a.c0ff3","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"46c71330.c0377c","type":"ui_group","name":"Group 2","tab":"39936a6d.c21976","order":2,"disp":true,"width":6},{"id":"ba4584c7.848fe8","type":"ui_group","z":"","name":"SENSOR_DHT","tab":"39936a6d.c21976","disp":true,"width":"6","collapse":false},{"id":"39936a6d.c21976","type":"ui_tab","z":"","name":"ESTACION METEREOLOGICA","icon":"dashboard"}]