CLASE 3/codigo node red- temperatura-humedad-adc.txt
[{"id":"9fa328d1.7e62c8","type":"mqtt in","z":"4e91b0d.cae9f5","name":"","topic":"temperatura","qos":"2","broker":"ec0b2274.ef0cd","x":70,"y":80,"wires":[["bfa68b4e.6ba018","7d66128a.fe797c"]]},{"id":"d642c354.0d1d","type":"mqtt out","z":"4e91b0d.cae9f5","name":"","topic":"inTopic","qos":"","retain":"","broker":"ec0b2274.ef0cd","x":220,"y":380,"wires":[]},{"id":"bfa68b4e.6ba018","type":"debug","z":"4e91b0d.cae9f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":20,"wires":[]},{"id":"ed8b8724.ba5068","type":"inject","z":"4e91b0d.cae9f5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["d642c354.0d1d"]]},{"id":"a26163a8.f3497","type":"mqtt in","z":"4e91b0d.cae9f5","name":"","topic":"humedad","qos":"2","broker":"ec0b2274.ef0cd","x":60,"y":140,"wires":[["bfa68b4e.6ba018","c8a611de.7ad49"]]},{"id":"8654f1b1.a4902","type":"mqtt in","z":"4e91b0d.cae9f5","name":"","topic":"adc","qos":"2","broker":"ec0b2274.ef0cd","x":60,"y":200,"wires":[["bfa68b4e.6ba018","168e0d0.98242f3"]]},{"id":"79b41b6b.3182a4","type":"mqtt out","z":"4e91b0d.cae9f5","name":"","topic":"rele","qos":"","retain":"","broker":"ec0b2274.ef0cd","x":220,"y":460,"wires":[]},{"id":"85dd38ad.05cfa8","type":"mqtt out","z":"4e91b0d.cae9f5","name":"","topic":"servo","qos":"","retain":"","broker":"ec0b2274.ef0cd","x":210,"y":540,"wires":[]},{"id":"12f72b21.5a80d5","type":"inject","z":"4e91b0d.cae9f5","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":420,"wires":[["79b41b6b.3182a4"]]},{"id":"528aa7de.1f0b38","type":"inject","z":"4e91b0d.cae9f5","name":"","topic":"","payload":"90","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":520,"wires":[["85dd38ad.05cfa8"]]},{"id":"35f052d.9e261ae","type":"inject","z":"4e91b0d.cae9f5","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":460,"wires":[["79b41b6b.3182a4"]]},{"id":"7d66128a.fe797c","type":"ui_gauge","z":"4e91b0d.cae9f5","name":"","group":"6001dc70.fe8af4","order":0,"width":0,"height":0,"gtype":"wave","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":80,"wires":[]},{"id":"c8a611de.7ad49","type":"ui_gauge","z":"4e91b0d.cae9f5","name":"","group":"6001dc70.fe8af4","order":0,"width":0,"height":0,"gtype":"compass","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":120,"wires":[]},{"id":"168e0d0.98242f3","type":"ui_gauge","z":"4e91b0d.cae9f5","name":"","group":"6001dc70.fe8af4","order":0,"width":0,"height":0,"gtype":"donut","title":"ADC","label":"adc","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":200,"wires":[]},{"id":"ec0b2274.ef0cd","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"NODE-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6001dc70.fe8af4","type":"ui_group","z":"","name":"NODEMCU","tab":"8b03ddbd.a8a65","disp":true,"width":"6","collapse":false},{"id":"8b03ddbd.a8a65","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]