CLASE 3/Flujo node-red_dasboard humedad temperatura.txt
[{"id":"3c8b1b4d.035004","type":"inject","z":"67815226.abea3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151.16668701171875,"y":75.33334350585938,"wires":[["1e0176d4.9a5bc9"]]},{"id":"1e0176d4.9a5bc9","type":"mqtt out","z":"67815226.abea3c","name":"","topic":"","qos":"","retain":"","broker":"53c80857.c4aea8","x":417.16668701171875,"y":70.66667175292969,"wires":[]},{"id":"494a663f.675ab8","type":"debug","z":"67815226.abea3c","name":"","active":true,"console":"false","complete":"false","x":430.1667251586914,"y":141.6666669845581,"wires":[]},{"id":"8b19e97b.e2c1e8","type":"mqtt in","z":"67815226.abea3c","name":"","topic":"temperatura","qos":"2","broker":"53c80857.c4aea8","x":162.16668701171875,"y":139.333345413208,"wires":[["494a663f.675ab8","f85325d2.67a948"]]},{"id":"7ce52d2f.f37b84","type":"mqtt in","z":"67815226.abea3c","name":"","topic":"humedad","qos":"2","broker":"53c80857.c4aea8","x":158.0833282470703,"y":211.8333511352539,"wires":[["494a663f.675ab8","7e9a61fe.455da"]]},{"id":"f85325d2.67a948","type":"ui_gauge","z":"67815226.abea3c","name":"","group":"2f700220.1fb80e","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURA","label":"C°","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":462.09635416666663,"y":219.8828125,"wires":[]},{"id":"7e9a61fe.455da","type":"ui_gauge","z":"67815226.abea3c","name":"","group":"2f700220.1fb80e","order":0,"width":0,"height":0,"gtype":"gage","title":"HUEMDAD  RELATIVA","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":466.5407986111111,"y":290.99826388888886,"wires":[]},{"id":"53c80857.c4aea8","type":"mqtt-broker","z":"","broker":"broker.shiftr.io","port":"1883","tls":"c40abd8b.983b9","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2f700220.1fb80e","type":"ui_group","z":"","name":"Default","tab":"131168c1.7f54b7","disp":true,"width":"6"},{"id":"c40abd8b.983b9","type":"tls-config","z":"","name":"panda","cert":"","key":"","ca":"","certname":"ca.crt","keyname":"ca.key","caname":"ca.srl","verifyservercert":true},{"id":"131168c1.7f54b7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]