CLASE 3/node red dashboard.txt
[{"id":"ac2130d4.c79b8","type":"mqtt out","z":"98aadcb0.51c6a","name":"","topic":"temperatura","qos":"","retain":"","broker":"4d4f74d4.0c8d3c","x":293.1484603881836,"y":72.66016387939453,"wires":[]},{"id":"cf5938cf.978188","type":"inject","z":"98aadcb0.51c6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":84.140625,"y":77.44531154632568,"wires":[["ac2130d4.c79b8"]]},{"id":"7138a629.7cf958","type":"mqtt in","z":"98aadcb0.51c6a","name":"","topic":"temperatura","qos":"2","broker":"4d4f74d4.0c8d3c","x":85.13671875,"y":180.36718845367432,"wires":[["2ff581f1.78f63e","8cf341ce.6cd98"]]},{"id":"2ff581f1.78f63e","type":"debug","z":"98aadcb0.51c6a","name":"","active":true,"console":"false","complete":"false","x":344.13675689697266,"y":123.6953125,"wires":[]},{"id":"5958631e.ab484c","type":"mqtt in","z":"98aadcb0.51c6a","name":"","topic":"humedad","qos":"2","broker":"4d4f74d4.0c8d3c","x":83.1484375,"y":243.36328125,"wires":[["2ff581f1.78f63e","c6dc19f7.4eaaa8"]]},{"id":"8cf341ce.6cd98","type":"ui_gauge","z":"98aadcb0.51c6a","name":"","group":"4fe210ad.c0b15","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURA","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":675.1367492675781,"y":192.4218807220459,"wires":[]},{"id":"c6dc19f7.4eaaa8","type":"ui_gauge","z":"98aadcb0.51c6a","name":"","group":"4fe210ad.c0b15","order":0,"width":0,"height":0,"gtype":"gage","title":"HUEMDAD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":668.1484375,"y":249.4375,"wires":[]},{"id":"ccbfee68.0ff45","type":"ui_button","z":"98aadcb0.51c6a","name":"","group":"4fe210ad.c0b15","order":0,"width":0,"height":0,"passthru":false,"label":"ENCENDER ","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":230.19448852539062,"y":342.6667232513428,"wires":[["c894569a.7224b8"]]},{"id":"c894569a.7224b8","type":"mqtt out","z":"98aadcb0.51c6a","name":"","topic":"digital","qos":"","retain":"","broker":"4d4f74d4.0c8d3c","x":559.1944732666016,"y":351.64237213134766,"wires":[]},{"id":"c770e6c3.accd38","type":"ui_button","z":"98aadcb0.51c6a","name":"","group":"4fe210ad.c0b15","order":0,"width":0,"height":0,"passthru":false,"label":"APAGAR ","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":220.1840591430664,"y":400.22223472595215,"wires":[["c894569a.7224b8"]]},{"id":"9b975cb4.2be8c","type":"ui_slider","z":"98aadcb0.51c6a","name":"","label":"SERVOMOTOR","group":"4fe210ad.c0b15","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":251.1909637451172,"y":466.6076431274414,"wires":[["e3915a1a.eebb68"]]},{"id":"e3915a1a.eebb68","type":"mqtt out","z":"98aadcb0.51c6a","name":"","topic":"servomotor","qos":"","retain":"","broker":"4d4f74d4.0c8d3c","x":585.1840362548828,"y":473.76041412353516,"wires":[]},{"id":"4d4f74d4.0c8d3c","type":"mqtt-broker","z":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4fe210ad.c0b15","type":"ui_group","z":"","name":"Default","tab":"d99c62c7.6aab7","disp":true,"width":"6"},{"id":"d99c62c7.6aab7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]